.contact {
  width: auto;
  height: fit-content;
  background: black;
  display: flex;
  flex-direction: row;
}

.contact-left {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
  text-align: center;
}
.contact-left-img {
  width: 100%;
}
.contact-right {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.contact-right-a {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-right-a-h1 {
  font-size: 3rem;
  font-weight: 600;
  background: linear-gradient(
    27deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 121, 121, 1) 100%
  );
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
}

.contact-right-div {
  height: 1px;
  width: 50%;
  /* opacity: 20%; */
  /* background: rgb(153,153,153); */
  /* border-image: radial-gradient(circle, rgba(153,153,153,1) 0%, rgba(255,255,255,1) 0%, rgba(153,153,153,1) 100%); */
  background: linear-gradient(
    90deg,
    rgba(153, 153, 153, 0.323) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(153, 153, 153, 0.351) 100%
  );
  /* border: 1px solid transparent; */
  width: 70%;
  filter: blur(5);
}

.contact-right-aa {
  border: 2px solid #6640ff2f;

  width: 80%;
  margin-top: 50px;
  padding: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-1 {
  display: flex;
  flex-direction: row;
}

.info {
  width: 50%;
  font-size: 1.5rem;
}
.info1 {
  font-size: 1.5rem;
  width: 50%;
  background-position-x: #515151;
  opacity: 90%;
  background-color: black;
  border-bottom: 2px solid #515151;
}
/* #submit {
  font-size: 1.5rem;
  background: linear-gradient(
    27deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 121, 121, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  align-items: baseline;
  display: flex;
flex-direction: column;

  border-bottom: 2px solid #6640ff76;

  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
} */


button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
 }
 
 button:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 button:active {
  box-shadow: none;
 }


@media (min-width: 300px) and (max-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: black;
  }
  .contact-left {
    width: 100%;
    padding: 0.25rem;
  }
  .contact-right {
    width: 100%;
    background-color: black;
    padding: 0.25rem;
  }
  .contact-right-aa {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contact-right-a-h1 {
    font-size: 1.5rem;
  }
  .form {
    column-gap: 20px;
    width: 100%;
  }

  .form-1{display: flex; flex-direction: column;}
  .info {
    font-size: 1rem;
    width: 100%;
  }
  .info1 {
    font-size: 1rem;
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 760px) {
  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-left {
    width: 100%;
  }
  .contact-right {
    width: 100%;
  }
  .contact-right-aa {
    margin-top: 5px;
  }
  .contact-right-a-h1 {
    font-size: 1.5rem;
  }
  .info {
    font-size: 0.8rem;
  }
  .info1 {
    font-size: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 760px) and (max-width: 980px) {
  .contact-right-aa {
    margin-top: 10px;
  }
  .contact-right-a-h1 {
    font-size: 2rem;
  }
  .info {
    font-size: 0.8rem;
  }
  .info1 {
    font-size: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 980px) and (max-width: 1280px) {
}
