/* Style for the popup background */
.popup {
  /* overflow-y   : hidden; */

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Changed from absolute to fixed */
    top: 0px;
left: 0px;

    width: 100vw; /* Full viewport width */
    height: 100%; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.779);
    z-index: 1000;
}

/* Style for the popup content */
.popup-content {
    position: relative;
    background-color: rgb(2, 2, 2);
    /* padding: 20px; */
    border-radius: 10px;
    text-align: center;justify-content: center; align-items: center; display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Style for the close button */
.close-btn {
    position: absolute;
    top: 1%;
    right: 10%;
    font-size: 30px;
    cursor: pointer;
}

/* Style for the popup image */
.popup-image {
    max-width: 60%;
    display: flex;
    
    justify-content: center; align-items: center;
    
    height: auto; /* Maintains aspect ratio */
}


@media screen and (max-width : 500px) {
    .popup-images{
                max-width: 90%;
    }
    .popup {
        /* overflow-y   : hidden; */
      
          display: flex;
          align-items: center;
          justify-content: center;
          position: fixed; /* Changed from absolute to fixed */
          top: -50px;
      left: 0px;
      
          width: 100vw; /* Full viewport width */
          height: 100%; /* Full viewport height */
          background-color: rgba(0, 0, 0, 0.779);
          z-index: 1000;
      }
}